---
import BaseLayout from './BaseLayout.astro'
import Header from './Header.svelte'
import Footer from './Footer.astro'
import Portal from './Portal.astro'
import SearchModal from './SearchModal.svelte'
---

<BaseLayout>
  <br class="my-4" />
  <Header />
  <br class="my-4" />
  <div class="content">
    <slot />
  </div>
  <br class="my-4" />
  <Footer />
  <Portal>
    <SearchModal />
  </Portal>
</BaseLayout>

<style>
  .content {
    min-height: 580px;
  }
</style>
